


    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    body{
      height: 100vh;
      background-color: rgb(88, 129, 144);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .container{
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 3rem;
        background-color: rgb(193, 247, 246);
        padding: 4rem;
        max-width: 600px;
        border-radius: 15px;
        min-width: 900px;
    }
    .hangman{
       display: flex;
       flex-direction: column;
       position: relative;
    }
    .head{
        background-color:   rgb(193, 247, 246);
        width: 20%;
        height: 20%;
        position: absolute;
        margin-top: -78.3%;
        margin-left: 10px;
        transform: rotate(60deg);
    }
     .head1{
       background-color: rgb(193, 247, 246);
        width: 21%;
        height: 12%;
        position: absolute;
        margin-top: -81%;
        margin-left: 20px;
    }
    .body{
        border-top-left-radius:1000px;
        background-color: rgb(193, 247, 246);
        margin-top: -66.6%;
        margin-left:15%;
        width: 14%;
        height: 29.5%;
        
       position: absolute;
    }
    .lefthand{

        background-color: rgb(193, 247, 246);
        margin-top: -59.3%;
        width: 10%;
        margin-left: 20px;
        height: 25%;
        transform: rotate(10deg);
       position: absolute;
    }
    .righthand{
        border-top-left-radius:1000px;
        border-top-right-radius:1000px;
        background-color: rgb(193, 247, 246);
        width: 8%;
        height: 27%;
        transform: rotate(-12deg);
        margin-top: -63.33%;
        margin-left: 29%;
       position: absolute;
    }
    .leftlegs{
        border-top-right-radius:1000px;
        background-color:  rgb(193, 247, 246);
        width: 13%;
        height: 25%;
        margin-top: -34.3%;
        margin-left: 21.6%;
        transform: rotate(2deg);
        position: absolute;
    }
    .rightlegs{
        border-top-left-radius:1000px;
        background-color: rgb(193, 247, 246);
        width: 13%;
        height: 25%;
        margin-top: -34.3%;
        margin-left: 10%;
        transform: rotate(2deg);
        position: absolute;
    }
    .seconddiv{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hangmanparagraph{
        font-size: 22px;
        font-weight: bold;
        margin-top: 1.5rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .isuck{
        width: 300px;
        height: 300px;
       
        overflow: hidden;
    }
    .isuck img{
        width: 100%;
        height: 100%;
    }
    .thequestionnerykeybord{
        display: grid;
        grid-template-rows: 1fr 2fr 3fr  ;
        /* background-color: brown; */
    }
    button{
        color: rgb(7, 48, 67);
        margin: 1px;
        margin-top: 3px;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        border: none;
        font-size: larger;
        text-align: center;
    }
    
    .third{
        width: 90%;
        margin: auto;
    }
    .keybord{
        margin: auto;
    }
    .paragraph{
        margin: auto;
        width: 95%;
        font-size: 1.4rem;
        display: grid;
        grid-template-rows:2fr 1fr ;
        row-gap: 20%;
    
    }
    .thequestionnery{
        margin: auto;
    }
    .thequestionnery{
        display: flex;
        flex-direction: row;
        margin:auto ;
    }
    .thequestionnery div{
        border-bottom: 4px solid rgb(234, 148, 148);
        margin-left: 10px;
        width: 40px;
        height:40px ;
        font-size: 2.5rem;
        display: flex;
        color : rgb(52, 54, 58);
        justify-content: center;
        align-items: end;
    }
    .load{
        width: 40px;
        height:40px ;
    }
    
    .button{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(22, 162, 226, 0.709);
        margin: auto;
     
    }
    .keybord button{
        background-color: rgb(147, 198, 245) ;
        box-shadow: 0px 0px 2px  rgba(47, 63, 71, 0.709);
        border: none;
    }
    .keybord button:hover{
        background-color: rgba(20, 171, 240, 0.651);
        transition-duration: 0.2s;
        cursor: pointer;
        box-shadow: 0px 0px  1px 1px rgb(0, 2, 119); 
        
    }
    .resultparanumbesrsandtext{
        color: rgb(72, 3, 199);
        font-size: 1.8rem
    }

    .congra{
        display: none;
        position: absolute;
        border-radius: 50px;
        width: 35%;
        height: 50% ;
        margin: auto;
        background-color: rgb(203, 243, 216);
        z-index: 9;
        box-shadow: 0px 0px 0px 700px rgba(0, 80, 14, 0.603), 20px 20px  20px 20px rgb(5, 19, 1) ;
   
    }
    .congraimg{
        width: 50%;
        height: 50%;
        margin: auto;
        margin-top: 5%;
    }
    .congraimg img {
        width: 100%;
        height: 100%;
    }
    .paragraphandbutton{
        height: 20%;
        width: 80%;
        margin: auto;
     
        text-align: center;
        font-size: 1.9rem;
        color: rgb(3, 53, 77);
       
     
    }
    .paragraphandbutton button{
        width: 60%;
        height:120% ;
        color: azure;
        background-color: rgb(18, 145, 145);
        overflow: hidden;
        text-align: center;
        box-shadow: 0px 4px 4px 4px rgb(22, 105, 128);
        border-radius: 6%;
    }
    .paragraphandbutton button:hover{
        color: rgb(27, 123, 123);
        background-color: rgb(124, 194, 194);
        transition-duration: 0.5s;
        box-shadow: 0px 5px 5px 5px  rgb(203, 243, 216);
    }
    .failed{
        display: none;
        position: absolute;
        border-radius: 50px;
        width: 35%;
        height: 50% ;
        margin: auto;
        background-color: rgb(253, 160, 160);
        z-index: 9;
        box-shadow: 0px 0px 0px 700px rgba(216, 20, 13, 0.856);
       

    }
    .congraimg2{
        width: 50%;
        height: 50%;
        margin: auto;
        margin-top: 5%;
        
    }
    .congraimg2 img {
        width: 100%;
        height: 100%;
    }
    .paragraphandbutton2{
        height: 20%;
        width: 80%;
        margin: auto;
      
     
        text-align: center;
        font-size: 1.9rem;
        color: rgb(3, 53, 77);
       
     
    }
    .paragraphandbutton2 button{
        width: 60%;
        height:120% ;
        color: azure;
        background-color: rgb(234, 48, 104);
        overflow: hidden;
        text-align: center;
        box-shadow: 0px 4px 4px 4px rgb(98, 6, 6);
        border-radius: 6%;
    }
    .paragraphandbutton2 button:hover{
        color: rgb(255, 4, 0);
        background-color: rgb(238, 95, 124);
        transition-duration: 0.5s;
        box-shadow: 0px 5px 5px 5px  rgb(253, 160, 160);
    }
 
    @media only screen and (max-width: 600px) {
   *{
    overflow: hidden;
    margin: 0%;
    padding: 0%;
   }
    body{
    background-color: rgb(88, 129, 144) ;

   }
   .container{
    width: 100%;
    height: 100%;
    gap: 0%;
    padding: 0%;

    background-color: rgb(91, 82, 82);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
   }
   .hangman {
   background-color:   rgb(193, 247, 246);
    margin: 0%;
    padding: 0%;
   }
   .hangman .isuck{
    background-color: rgb(193, 247, 246);
    margin: auto;
    position: relative;
   }
   .body{
    border-top-left-radius:50%;
    background-color: rgb(193, 247, 246);
    margin-top: -63.7%;
    margin-left:15%;
    width: 14%;
    height:33%;
    
   position: absolute;
   }
   .righthand{
    border-top-left-radius:5%;
    border-top-right-radius:1000px;
    background-color:  rgb(193, 247, 246);
    width: 8%;
    height: 32%;
    transform: rotate(-6deg);
    margin-top: -63.33%;
    margin-left: 29%;
   position: absolute;
}
.lefthand{
    border-bottom-right-radius: 55%;
    border-top-left-radius:100%;
    background-color:  rgb(193, 247, 246);
    margin-top: -59.3%;
    width: 10%;
    margin-left: 6.4%;
    height: 29%;
    transform: rotate(1deg);
   position: absolute;
}
.leftlegs{
    border-top-right-radius:1000px;
    background-color:  rgb(193, 247, 246);
    width: 8%;
    height: 27%;
    margin-top: -34.3%;
    margin-left: 22.6%;
    transform: rotate(2deg);
    position: absolute;
}
.rightlegs{
    border-top-left-radius:50%;
    background-color: rgb(193, 247, 246);
    width: 9%;
    height: 26%;
    margin-top: -34.3%;
    margin-left: 14.5%;
    transform: rotate(2deg);
    position: absolute;
}
   .seconddiv{
    display: none;
   }
   .thequestionnerykeybord{
    background-color: rgb(255, 255, 255) ;
    width: 100%;
    height: 100%;
   }
   .thequestionnery{

    gap: 0%;
    margin: auto;
   }
   .thequestionnery div{
    padding-top: 5px;
    margin: auto;
    width: 40px;
    height:40px ;
    margin-left: 7px;
    border-bottom: 4px solid rgb(255, 255, 255);
    color: aliceblue;
    
   }
   .paragraph{
    width: 35%;
    margin:auto ;
    height: auto;
    margin-bottom: 0%;
    gap: 0px;
   display: grid;
   grid-template-rows: 1fr 1fr;
   color: rgb(186, 236, 250);
    
   }
   .insertparagraph{
    display: -webkit-box;
    -webkit-line-clamp:3 ;
    -webkit-box-orient:vertical;
    margin-top: 0%;
    margin: auto;
    font-size:1.3rem;
    
    word-wrap: break-word;
   }
   .resultparanumbesrsandtext{
    color: rgb(255, 233, 108);
   }
   .keybord{
    width: 40%;
    margin-top: 0%;
  
   }
    .fristrow{
        color: rgb(255, 233, 108);
   
     margin-bottom: 1%;
  
     text-align: center;
    }
   .fristrow button{
    height: 30px;
     width:  9%;
     
     margin: auto;
     font-size: medium;
   }
   .secondrow{
    text-align: center;
    margin-bottom: 1%;
   }
   .secondrow button{
    
    height: 30px;
    width:  9%;
     margin: auto;
     font-size: medium;
   }
   .third{
   text-align: center;
   }
   .third button{
  
    height: 30px;
    width:  9%;
    margin: auto;
    font-size: medium;
  }
  .failed{
    font-size: larger;
    width: 100%;
    height: 50%;
  }
  .paragraphandbutton2{
    height:auto;
    width: 100%;
   
  }
  .paragraphandbutton2 button{
    height: 100%;
    margin-bottom: 10%;
    padding: 1rem;
  }
   }
  
